<% if user_signed_in?%>
    <%@recipes=current_user.recipes%>
<%end%>

<div class= "row responsive">
    <%@recipes.each do |r| %>
        <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default gallery-item ">
                <%= link_to  recipe_path(r.id) do %>
                    <%= image_tag r.recipe_img.url, class:"image img-responsive img-rounded img-thumbnail", alt: 'a recipe'%>
                <% end %>
            </div>
        </div>
    <% end%>
</div>
