<% if user_signed_in?%>
    <%@recipes=current_user.recipes%>
<%end%>

<div class= "row responsive">
    <%@recipes.each do |r| %>
        <div class="gallery-item">
            <%= link_to  recipe_path(r.id) do %>
                <%= image_tag r.recipe_img.url, class:"img img-rounded img-responsive", alt: 'a recipe'%>
            <% end %>
            <div class="title"><%= link_to(r.title, recipe_path(r))%></div>
        </div>
    <% end%>
</div>
