// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background-color:  #e6e6ff;
    padding-top: 70px;
    padding-bottom: 70px;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    min-height: 800px;
 }
p{
    font-size:20px;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform:uppercase;
    font-weight:700
}
.image{
    height: 300px;
    width: 100%;
    padding: 0.8em 0.8em;
}


.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand.active,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-nav li a,
.navbar-custom .navbar-toggle{
  color: #fff;
}
.navbar-custom{
    background: rgba(25, 25, 25, 0.8);
    font-weight: 700;
    border:none;
}

.navbar-right li a{
  font-size: 16px;
}

#category a{
  color: #000;
}

#logo{
 margin-top: -17px;
}
.reviews-section{
  margin-top: 2.5em;
}

#show-img img{
  height: 400px;
  width: 350px;
  padding: 0.7em 0.7em;
}
.gallery-item {
    margin-bottom: 3em;
    margin-left: 0.2em;
    margin-right:0.2em;
}

.footer{
    padding: 15px 0;
    width: 100%;
    background-color:rgba(25, 25, 25, 0.9);
    color: #fff;
 }
 
@media (max-width: 767px){
    .gallery-item{
        width: 250px;
        height: 300px;
    }
    #show-img, #show-img img{
        width: 250px;
        height: 300px;
    }
    .gallery-item, #show-img{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
    }
    .title {
        margin-top: 0.8em;
    }
    .navbar-toggle{
        margin-top: 1em;
    }
    #logo{
        margin-left: 1em;
    }
    #category a{
        color: #fff;
    }
}