<div class="row container">
    <%= simple_form_for ([@recipe, @review])do |f| %>
        <%= f.input :rating, placeholder: 'Stars' %>
        <%= f.input :comment, placeholder: 'Comment' %>
        <br>
        <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
</div>