<%= simple_form_for ([@recipe, @review])do |f| %>
    <div class="panel-body">
        <div class="form-group">
            <%= f.label :rating%>
            <div id='star-rating'></div><br>
            <%= f.input :comment, placeholder: 'Comment' %>
        </div>
    </div>
    <div class="panel-footer">
        <%= f.button :submit, class: "btn btn-primary" %>
    </div>
<% end %>

<script>
$('#star-rating').raty({
    path: '/assets',
    scoreName: 'review[rating]'
});
</script>